#content {
  text-align: center;
  padding-top: 25%;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

body {
  /*background: url(https://images.unsplash.com/photo-1513360371669-4adf3dd7dff8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6402d48f35584fbf36a874be1635374b&auto=format&fit=crop&w=1500&q=80);*/
  background: url(redditImg1.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 400px;
}

html {
  height: 100%;
}

