.shadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Lato', sans-serif;
}
  
.startedBtn, .loginBtn {
width: 150px;
margin-right: 6px;
}

h1 {
font-weight: 700;
font-size: 5em;
}

hr {
border-top: 1px solid #f1f3f5;
border-bottom: 1px solid rgba(0,0,0,0.2);
width: 400px;
}

body {
    background: url(redditImg1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}

#content {
    text-align: center;
    padding-top: 25%;
    color: white;
}

html {
    height: 100%;
}