html {
    font-family: 'Raleway', sans-serif;
}
body {
    height: 100vh;
    background-color: #b0bec5;
}

nav {
    background-color: #efefef;
    padding: 0 2rem;
}

nav .brand-logo {
    color: black;
}

nav ul a, nav a, .btn-floating i {
    color: black;
}

#toast-container {
    min-width: 10%;
    top: 80%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

.main-div {
    width: 100%;
    margin: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 92vh;
    scroll-snap-type: y mandatory;
}

.child {
    padding: 1.5rem;
    scroll-snap-align: start;
    background-color: #e2f1f8;
    width: 100vw;
    height: 100vh;
}

.sidenav {
    background-color: #efefef;
}

.div-search {
    padding: .2rem 1.3rem;
    background-color: #efefef;
    min-height: 60vh;
    margin-top: 1.5rem;
}

.add-btn {
    background-color: #b4b4b4;
    color: black;
}

.add-btn:hover {
    background-color: #efefef;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #808e95 !important;
    border-bottom: 2px solid #808e95 !important;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid #b4b4b4;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #808e95;
}

.collection.with-header .collection-header, .collection .collection-item {
    background-color: #ffffff;
}

.right-align {
    /*position: fixed;*/
    /*right: 12%;*/
    margin-left: auto;
    margin-right: 5px;
}

.collapsible-header i {
    margin-right: 0;
}

.input-field {
    margin-top: 0;
    margin-bottom: 0;
}

input[type=text]:not(.browser-default) {
    margin-bottom: 14px;
}

/* label underline focus color */
.input-field input[type=text]:focus, textarea.materialize-textarea:focus {
    border-bottom: 1px solid #808e95 !important;
    box-shadow: 0 1px 0 0 #808e95 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #808e95 !important;
}

/* label color */
.input-field label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #808e95 !important;
}

.input-field input[type=text] {
    border-bottom: 1px solid #808e95 !important;
}

.hide {
    display: none;
}