body {
  background-color: #faf2f2;
  font-family: 'Roboto', sans-serif;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 9%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

html, body {
  height: 100%;
}

.indented {
  margin: 0 9%;
  background: rgb(255, 255, 255);
  min-height: 100%;
  padding: 1% 1%;
}

.instruction {
  font-size: .5em;
}

.card {
  float: left;
  margin: 0 2% 2% 2%;
  width: 29%;
}

#searchButton {
  display: inline;
}





