#content {
  text-align: center;
  padding-top: 25%;
  color: white;
}

.shadow {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  font-family: 'Monoton', cursive;
}

.startedBtn {
  width: 150px;
  margin-right: 6px;
}

.loginBtn {
  width: 150px;
  margin-left: 6px;
}

body {
  background-color: #faf2f2
}

nav {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 9%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  border-top: 1px solid #f1f3f5;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 400px;
}

html {
  height: 100%;
}

#startPage {
  background: url(redditImg1.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
}

.indented {
  margin: 0 9%;
  background: rgb(255, 255, 255);
  height: 100%;
  padding: 0 1%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 0 2%;
  background: #5c5b5a;
  width: 50%;
  margin-top: 10px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.instruction {
  font-size: .5em;
}




