<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Reddit Refresh</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Refresh</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">{{index . "name"}}</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#">{{index . "name"}}</a></li>
</ul>

<!-- Modal Structure -->
<div id="modal1" class="modal no-autoinit modal-fixed-footer">
    <div class="modal-content">
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-grey btn-flat" id="delete-search">Delete</a>
        <a href="#!" class="waves-effect waves-grey btn-flat" id="add-search">Add Search</a>
        <a href="#!" class="waves-effect waves-grey btn-flat" id="remove-search">Remove Search</a>
        <a href="#!" class="waves-effect waves-grey btn-flat" id="confirm-search">Confirm</a>
    </div>
</div>


<div class="container div-search">
    <h4>Refresh Interval (Minutes) </h4>

    <div class="input-field col s12">
        <i class="material-icons prefix">autorenew</i>
        <input id="interval_input" type="number" min=".5" step=".1" class="validate" placeholder=10 onchange="editInterval()">
    </div>

    <h4>Devices</h4>

    <div class="input-field col s12">
        <select multiple id="devices" onchange="editDevices()">
            <!--<option value="" disabled selected>Choose your option</option>-->
            {{$inc := index . "inc"}}
            {{range $ind, $val := index . "devices"}}
                {{$ind = call $inc $ind}}
                {{if eq $val.Active true}}
                    <option id={{$val.DeviceID}} value="{{call $inc $ind}}" selected>{{$val.Nickname}}</option>
                {{else}}
                    <option id={{$val.DeviceID}} value="{{call $inc $ind}}">{{$val.Nickname}}</option>
                {{end}}
            {{end}}
            </select>
        <!--<label>Materialize Multiple Select</label>-->
    </div>
    <h4>Searches</h4>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
            </ul>
        </div>
    </div>
</div>

<!--Call to action button-->
<div class="fixed-action-btn no-autoinit">
    <a class="btn-floating btn-large add-btn">
        <i class="large material-icons">add</i>
    </a>
</div>

<script src="assets/js/main.js"></script>

<!--Add subreddits and searches to page on the client-side and prefill interval input-->
<script>
    document.getElementById("interval_input").value = {{index . "interval"}};
    {{range $sub, $searches := index . "searches"}}
        addSearchToPage({{$sub}}, {{$searches}})
    {{end}}
    initDevices();
</script>

</body>
</html>